<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg mb-3" style="background-color:   #4d628a;">
    <div class="container-md" >
        <a class="navbar-brand" [routerLink]="'/'"><span class="material-icons md-36" style="font-size:36px; color:white;">home </span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
            </ul>
            <span class="navbar-text"><span class="material-icons md-36" style="font-size:36px; float:left; color:white;">person</span>
               <b style="color:   white; float:left; padding-top:0.2em;">Employee Management</b>
            </span>
        </div>
    </div>
</nav>